<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- log4 日志 -->
  <log4net>
    <!-- 通用文件日志 -->
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="Log/" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="512MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="preserveLogFileNameExtension" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %m%n" />
      </layout>
    </appender>
    <logger name="LogLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="LogAppender" />
    </logger>
  </log4net>

  <!-- 配置 -->
  <appSettings>
    <!-- 同步频率秒 -->
    <add key="m_uSeconds" value="300" />
    <!-- 
      /*
       * 激活网站,前缀HTTP,特殊要求如下
       * 1.编号不可重复
       * 2.前缀HTTP、RATESECHTTP、ARGSHTTP为一组
       * 3.该组至少有HTTP,RATESECHTTP默认60秒,ARGSHTTP默认为空
       */
    -->
    <add key="HTTP1" value="http://localhost:6861/Home/BT_1REQ" />
    <!-- 激活网站频率秒,前缀RATESECHTTP,编号不可重复 -->
    <add key="RATESECHTTP1" value="600" />
    <!-- 激活网站GET所需参数,前缀ARGSHTTP,编号不可重复 -->
    <add key="ARGSHTTP1" value="" />
    <!-- 
      /* 
       * 上方的HTTP也可以写入BAT文件中也不错
       * BAT如果有中文,必须为ANSI编码,可借助Notepad++来转码
       * 执行BAT文件组,前缀BAT,编号不可重复,如果命令行有多个需顺序排序,需用“-”符号与编号隔开
       * 形如BAT1-1
       *     BAT1-2
       *     BAT1MODE
       * BAT1-1中值为BAT路径|参数2|参数3,参数如果以“Code:”开始,可以直接填写C#代码完成动态解析,主要为应对BAT难以动态解析时间的情况
       * BAT1MODE此处为该命令组的执行模式,即Quartz的执行模式表达式中各时间元素使用空格进行分割,分别表示如下含义,按顺序依次为:
       * 此内容需.NET 4.6.1
       * 1.秒（0~59）
       * 2.分钟（0~59）
       * 3.小时（0~23）
       * 4.天（月）（0~31，但是你需要考虑你月的天数）
       * 5.月（0~11）
       * 6.天（星期）（1~7 1=SUN 或 SUN，MON，TUE，WED，THU，FRI，SAT）
       * 7.年份（1970－2099）
       * 使用合理数字、*（任意）、?（后续内容不关心）进行表达即可,多值“/”分割
       */
    -->
    <!-- 数据库备份测试 -->
    <add key="BAT1-1" value="E:/z_cmcp10bak.bat|Code:DateTime.Now.AddDays(-1).ToString(&quot;yyyyMMdd&quot;)|Code:DateTime.Now.AddDays(-1).ToString(&quot;yyyy-MM-dd&quot;)" />
    <add key="BAT1-2" value="E:/z_cmcp10del.bat" />
    <add key="BAT1MODE" value="0 30 0 * * ?" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>